{% extends "login/base.html" %}

{% block head %}

    <div class="body">
        <nav class="container middle secondary">
            <a href="" class="back">
                <img src="/static/svg/icon-chevron-left.svg">
                返回
            </a>

            <div class="display-1">选择</div>
            <div class="tabs-wrapper">
                <ul class="subcategories">
                    <li>
                        <a id="side_menu_all" href="{% url 'square:square_page' %}" class="active">
                            广场
                        </a>
                    </li>
                    <li>
                        <a id="side_menu_whole_bean" href="{% url 'estate:estate_page' %}">
                            小区
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}

{% block content %}

    <header class="header">
        <button class="icon close">Close</button>
    </header>
    <div class="body">
        <div class="field search">
            <img src="/static/svg/icon-search.svg" class="icon">
            <input type="text" id="menu-search-input" placeholder="搜索">
        </div>
        <ul class="grid columns-4 padded-2" id="menu-search-results">
            <li>
                <a class="overlay-close thumbnail" href="https://www.starbucks.com.cn/menu/coffee/whole-bean/medium-roast/starbucks-breakfast-blend/">
                    <div class="preview circle" style="background-image: url(/images/breakfast-blend-coffee-beans.png)"></div>
                    <strong>结果1</strong>
                </a>
            </li>
            <li>
                <a class="overlay-close thumbnail" href="https://www.starbucks.com.cn/menu/coffee/whole-bean/medium-roast/starbucks-house-blend/">
                    <div class="preview circle" style="background-image: url(/images/house-blend-coffee-beans.png)"></div>
                    <strong>结果2</strong>
                </a>
            </li>
            <li>
                <a class="overlay-close thumbnail" href="https://www.starbucks.com.cn/menu/coffee/whole-bean/medium-roast/starbucks-kenya/">
                    <div class="preview circle" style="background-image: url(/images/kenya-coffee-beans.png)"></div>
                    <strong>结果3</strong>
                </a>
            </li>
            <li>
                <a class="overlay-close thumbnail" href="https://www.starbucks.com.cn/menu/coffee/whole-bean/dark-roast/starbucks-sumatra/">
                    <div class="preview circle" style="background-image: url(/images/sumatra-coffee-beans.png)"></div>
                    <strong>结果4</strong>
                </a>
            </li>
            <li>
                <a class="overlay-close thumbnail" href="https://www.starbucks.com.cn/menu/coffee/whole-bean/dark-roast/starbucks-sumatra/">
                    <div class="preview circle" style="background-image: url(/images/sumatra-coffee-beans.png)"></div>
                    <strong>结果5</strong>
                </a>
            </li>
        </ul>
    </div>
    <div id="Tab" class="Tab">
        <a id="one" class="subTab text-center" href="{% url 'info:info_page' %}">
            <span class="iconfont">&#xe64d;</span>
            <div class="menu_name">个人</div>
        </a>
        <a id="two" class="subTab text-center" href="info:manu_page">
            <span class="iconfont">&#xe8ac;</span>
            <div class="menu_name">稿件</div>
        </a>
        <a id="three" class="subTab text-center" href="{% url 'square:square_page' %}">
            <span class="iconfont">&#xe64e;</span>
            <div class="menu_name">广场</div>
        </a>
        <a id="four" class="subTab text-center" href="{% url 'estate:estate_page' %}">
            <span class="iconfont">&#xe8b6;</span>
            <div class="menu_name">小区</div>
        </a>
    </div>

{% endblock %}